@font-face {
  font-family: 'Canter';
  src: url("/fonts/Canter Bold.otf"); }

:root {
  font-size: 1.38888vw; }

body {
  color: #CCBBA3;
  font-family: Lato, sans-serif;
  padding: 0rem;
  margin: 0rem;
  overflow-y: auto;
  overflow-x: hidden; }

.container-welcome {
  background-color: #1F1F1F;
  height: 100vh; }
  .container-welcome .img-glare {
    z-index: 0;
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0; }
  .container-welcome .navigation {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    position: absolute;
    width: 100vw; }
    .container-welcome .navigation .nav-items {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 2rem 2rem 0; }
    .container-welcome .navigation .logo {
      position: relative;
      z-index: 2;
      max-height: 30px; }
    .container-welcome .navigation .menu {
      position: relative;
      z-index: 2;
      max-height: 30px; }
      @media screen and (max-width: 768px) {
        .container-welcome .navigation .menu {
          margin-right: 1.8rem; } }
  .container-welcome .welcome {
    height: 100vh;
    position: relative;
    z-index: 2;
    text-align: center;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container-welcome .welcome h1 {
      font-family: Canter, monospace;
      color: #CCA166;
      letter-spacing: 16px;
      font-size: 8rem; }
      @media screen and (max-width: 960px) {
        .container-welcome .welcome h1 {
          font-size: 10rem; } }
      @media screen and (max-width: 768px) {
        .container-welcome .welcome h1 {
          font-size: 12rem; } }
      @media screen and (max-width: 480px) {
        .container-welcome .welcome h1 {
          font-size: 18rem; } }
    .container-welcome .welcome h2 {
      font-size: 1.5rem; }
      @media screen and (max-width: 960px) {
        .container-welcome .welcome h2 {
          font-size: 2rem; } }
      @media screen and (max-width: 480px) {
        .container-welcome .welcome h2 {
          font-size: 4rem; } }
  .container-welcome .mousescroll {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    position: absolute;
    bottom: 22px;
    left: 0;
    width: 44px;
    margin-left: calc(50vw - 22px); }

.container-portfolio {
  height: 100vh;
  display: flex;
  align-items: center; }
  .container-portfolio .carousel-control {
    position: relative;
    background: transparent !important;
    opacity: 0.2;
    color: #1F1F1F;
    z-index: 2; }
    .container-portfolio .carousel-control:hover {
      opacity: 1;
      transition: opacity 0.5s; }
    .container-portfolio .carousel-control.right span {
      margin-right: 0;
      right: 0; }
    .container-portfolio .carousel-control.left span {
      margin-left: 0;
      left: 0; }
  .container-portfolio .website-image {
    float: right !important; }
    @media screen and (max-width: 960px) {
      .container-portfolio .website-image {
        padding: 4rem;
        width: 100vw;
        max-width: 800px; } }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .container-portfolio .website-image {
        padding: 0 4rem;
        width: 70vw;
        max-width: 800px; } }
  .container-portfolio .description-wrapper {
    color: #1F1F1F;
    height: 100%;
    font-weight: 300;
    position: absolute;
    top: 6rem;
    text-shadow: none;
    text-align: left;
    font-size: 1.2rem; }
    @media screen and (max-width: 960px) {
      .container-portfolio .description-wrapper {
        font-size: 1.2rem;
        margin: 0 2vw;
        position: relative;
        top: 0; } }
    @media screen and (max-width: 768px) {
      .container-portfolio .description-wrapper {
        font-size: 2rem;
        margin: 0 2vw;
        position: relative;
        top: 0; } }
  .container-portfolio .website-title {
    display: inline-block;
    font-weight: 400;
    font-size: 2.4rem; }
    @media screen and (max-width: 960px) {
      .container-portfolio .website-title {
        font-size: 4rem; } }
    @media screen and (max-width: 768px) {
      .container-portfolio .website-title {
        font-size: 6rem; } }
  .container-portfolio .website-tag {
    color: #CCBBA3;
    display: inline;
    padding: 0 20px; }
  @media screen and (max-width: 768px) {
    .container-portfolio .website-short {
      font-size: 3rem; } }
  .container-portfolio .view-button {
    font-weight: 300;
    background-color: #1F1F1F;
    color: #CCBBA3;
    border: 0; }

.carousel-indicators {
  position: absolute;
  bottom: -50px;
  left: 4.3vw;
  z-index: 15; }
  .carousel-indicators li {
    color: #1F1F1F;
    border: 1px solid #1F1F1F;
    width: 15px;
    height: 15px; }
    .carousel-indicators li.active {
      background-color: #CCBBA3;
      width: 15px;
      height: 15px;
      margin: 1px; }
  @media screen and (max-width: 768px) {
    .carousel-indicators {
      left: 50%; } }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }

.container-about {
  height: 100vh;
  color: #1F1F1F;
  font-weight: 300;
  font-size: 2.4rem;
  text-align: center;
  background-image: url(/images/parallax.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-about .foreground {
    margin-top: 1.7rem; }
    @media screen and (max-width: 960px) {
      .container-about .foreground {
        font-size: 2.5rem; } }
    @media screen and (max-width: 768px) {
      .container-about .foreground {
        font-size: 3.33rem; } }
  .container-about .list-inline:first-of-type {
    margin-top: 3rem; }
  .container-about .list-inline li {
    width: 7rem;
    margin: 1rem 2.5rem; }
    @media screen and (max-width: 960px) {
      .container-about .list-inline li {
        width: 100px; } }

.container-contact {
  font-family: Lato, sans-serif;
  background-color: rgba(204, 187, 163, 0.5);
  color: #1F1F1F;
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 960px) {
    .container-contact {
      font-size: 1.4rem; } }
  @media screen and (max-width: 768px) {
    .container-contact {
      font-size: 2.5rem; } }
  .container-contact h2 {
    font-size: 3rem; }
    @media screen and (max-width: 768px) {
      .container-contact h2 {
        font-size: 4.5rem; } }
  .container-contact #form {
    width: 80vw;
    max-width: 800px;
    margin: -6rem auto 0; }
  .container-contact .form-control {
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    background-color: #1F1F1F;
    color: #CCBBA3; }
  .container-contact .submit-button {
    font-size: 1rem;
    border: 0;
    font-weight: 300;
    color: #CCBBA3;
    background-color: #1F1F1F; }
    @media screen and (max-width: 960px) {
      .container-contact .submit-button {
        font-size: 1.4rem; } }
    @media screen and (max-width: 768px) {
      .container-contact .submit-button {
        font-size: 2rem; } }
  .container-contact .container-social-icons {
    position: absolute;
    left: calc(50vw - 67.5px);
    top: 395vh; }
    .container-contact .container-social-icons a span {
      color: #1F1F1F;
      margin: 0 4px; }
