@font-face {
  font-family: 'Canter';
  src: url("/fonts/Canter Bold.otf"); }

:root {
  font-size: 1.38888vw; }

body {
  color: #CCBBA3;
  font-family: Lato, sans-serif;
  padding: 0rem;
  margin: 0rem; }

.container-welcome {
  background-color: #1F1F1F;
  height: 100vh;
  display: flex; }
  .container-welcome .img-glare {
    z-index: 0;
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0; }
  .container-welcome .navigation {
    padding-top: 1.736rem;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    justify-content: space-between; }
  .container-welcome .logo {
    position: relative;
    z-index: 2;
    max-width: 30px; }
  .container-welcome .menu {
    position: relative;
    z-index: 2;
    max-width: 30px; }
  .container-welcome .welcome {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: calc(50vh - 10.42rem);
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
    .container-welcome .welcome h1 {
      color: #CCA166;
      letter-spacing: 10px;
      font-size: 4rem; }
      @media screen and (max-width: 960px) {
        .container-welcome .welcome h1 {
          font-size: 5rem; } }
      @media screen and (max-width: 768px) {
        .container-welcome .welcome h1 {
          font-size: 7rem; } }
      @media screen and (max-width: 480px) {
        .container-welcome .welcome h1 {
          font-size: 12rem; } }
    .container-welcome .welcome h2 {
      font-size: 1.5rem; }
      @media screen and (max-width: 960px) {
        .container-welcome .welcome h2 {
          font-size: 2rem; } }
      @media screen and (max-width: 768px) {
        .container-welcome .welcome h2 {
          font-size: 4rem; } }
  .container-welcome .mousescroll {
    position: absolute;
    bottom: 22px;
    left: 0;
    width: 44px;
    margin-left: calc(50vw - 22px); }

.container-portfolio {
  height: 100vh; }
  .container-portfolio .img-responsive {
    height: 100vh;
    float: right;
    padding-right: 5.20833vw; }

.container-portfolio {
  height: 100vh; }
