@font-face {
 font-family: 'Canter';
  src: url('/fonts/Canter Bold.otf');
}

$dark: #1F1F1F;
$beige: #CCBBA3;
$welcome: #CCA166;
$main-font: Lato, sans-serif;
$logo-font: Canter, monospace;
$xs-screen: 480px;
$sm-screen: 768px;
$md-screen: 960px;
$lg-screen: 1200px;


:root {
	font-size: 1.38888vw;
}
body {
	color: $beige;
	font-family: $main-font;
	padding: 0rem;
	margin: 0rem;
	overflow-y: auto;
 	overflow-x: hidden;
}

.navigation {

	background-color: $welcome;
	height: 100vh;
	width: 300px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	z-index: 10;
	transform: translateX(0px);
	transition: transform 0.5s ease;
	

	.close {
		position: absolute;
		max-height: 30px;
		right: 1.2rem;
		top: 2rem;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
		@media screen and (max-width: $sm-screen){
			margin-right: 1.8rem;
		}
	}

	&.navHidden {
		transform: translateX(300px);

	}



	.navigation-list {
		font-family: $main-font;
		font-size: 1.5rem;
		color: $dark;
		list-style: none;
		text-decoration: none;
		padding: 0;
		li {
			padding: 0.7rem 0;
			text-align: center;
		}
		a {
			color:inherit;
			&:hover {
				opacity: 0.5;
				text-decoration: none;
			}
			&:focus, &:visited {
				color: inherit;
				text-decoration: none;
			}
		}
	}
}

.container-welcome {
	background-color: $dark;
	height: 100vh;
	.img-glare {
		z-index: 0;
		position: absolute;
		height: 100vh;
		top: 0;
		right: 0;
	}
	.header {
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		position: absolute;
		width: 100vw;
		z-index: 5;
		.header-items {
			display: flex;
			justify-content: space-between;
			width: 100%;
		  padding: 2rem 2rem 0;
		}
	  .logo {
			position: relative;
			max-height: 30px;	
		}
		.menu {
			position: relative;
			max-height: 30px;
			cursor: pointer;
			&.active {

			}
			@media screen and (max-width: $sm-screen){
				margin-right: 1.8rem;
			}
		}
	}

	.welcome {
		height: 100vh;
		position: relative;
		z-index: 1;
		text-align: center;
		-webkit-animation-duration: 3s;
  	animation-duration: 3s;
  	-webkit-animation-delay: 1s;
  	animation-delay: 1s;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	

		h1 {
			font-family: $logo-font;
			color: $welcome;
			letter-spacing: 16px;
			font-size: 8rem;
			@media screen and (max-width: $md-screen) {
				font-size: 10rem;
			}
			@media screen and (max-width: $sm-screen) {
				font-size: 12rem;
			}
			@media screen and (max-width: $xs-screen) {
				font-size: 18rem;
			}
			
		}
		h2 {
			font-size: 1.5rem; 
			@media screen and (max-width: $md-screen) {
				font-size: 2rem;
			}
			@media screen and (max-width: $xs-screen) {
				font-size: 4rem;
			}
			
		}
	}
	.mousescroll {
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		position: absolute;
		bottom: 22px;
		left: 0;
		width: 44px;
		margin-left: calc(50vw - 22px);
		cursor: pointer;
		z-index: 5;
	}
}

#portfolio-carousel {
	@media screen and (max-width:$md-screen) {
		//margin-top: 12vw;
	}
}

.container-portfolio {
	height: 100vh;
  display: flex;
  align-items: center;
	.carousel-control {
		position: relative;
	  background: transparent !important;
	  opacity: 0.2;
	  color: $dark;
		z-index: 2;
		&:focus {
			//opacity: inherit;
		}
	  &:hover {
			opacity: 1;
			transition: opacity 0.5s;
	  }
	  &.right span {
	  	margin-right: 0;
	  	right: 0;
	  }
	  &.left span {
	  	margin-left: 0;
	  	left: 0;
	  }

	}
	.carousel-inner {
		//margin: 50px;
	}
	.website-image {
		float: right !important;
		
  	@media screen and (max-width: $md-screen){
  		padding: 4rem;
  		width: 100vw;
  		max-width: 800px;
  	}
  	@media screen and (min-width: $xs-screen) and (max-width: $sm-screen){
  		padding: 0 4rem;
  		width: 70vw;
  		max-width: 800px;
  	}

	}
	.description-wrapper {
			color: $dark;
			height: 100%;
			font-weight:300;
		  position: absolute;
	    top: 6rem;
		  text-shadow: none;
		  text-align: left;
			font-size: 1.2rem;
			@media screen and (max-width: $md-screen) {
				font-size: 1.2rem;
				margin: 0 2vw;
			  position: relative;
			  top: 0;
			}
			@media screen and (max-width: $sm-screen) {
			  font-size: 2rem;
			  margin: 0 2vw;
			  position: relative;
			  top: 0;
			}
		}
		.website-title {
			display: inline-block;
			font-weight:400;
			font-size: 2.4rem;
			@media screen and (max-width: $md-screen) {
				font-size: 4rem;
			}
			@media screen and (max-width: $sm-screen) {
				font-size: 6rem;
			}

		}
		.website-tag {
			color: $beige;
			display: inline;
			padding-left: 20px;
		}
		.website-short {
			@media screen and (max-width: $sm-screen) {
				font-size: 3rem;
			}
		}
		.view-button {
			font-weight:300;
			background-color: $dark;
			color: $beige;
			border: 0;
		}
}

.carousel-indicators {
  position: absolute;
  bottom: -50px;
  left: 4.3vw;
  z-index: 15;
  
  li {
  	color: $dark;
  	border: 1px solid $dark;
  	width: 15px;
		height: 15px;
  	&.active {
  		background-color: $beige;
		  width: 15px;
		  height: 15px;
		  margin: 1px;
  	}
  }
  @media screen and (max-width: $sm-screen) {
  	left: 50%;
  	
  }
}

// Carousel Fade Transition Rules
.carousel-fade {
	.carousel-inner {
		.item {
			transition-property: opacity;
		}

		.item,
		.active.left,
		.active.right {
			opacity: 0;
		}

		.active,
		.next.left,
		.prev.right {
			opacity: 1;
		}

		.next,
		.prev,
		.active.left,
		.active.right {
			left: 0;
			transform: translate3d(0, 0, 0);
		}
	}
}


.container-about {
	height: 100vh;
	color: $dark;
	font-weight: 300;
	font-size: 2.4rem;
	text-align: center;
	background-image: url(/images/parallax.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	//transform: translateZ(-1px).size(2);
	display: flex;
	justify-content: center;
	align-items: center;

	.foreground {
		margin-top: 1.7rem;
		//transform: translateZ(0);
		@media screen and (max-width:$md-screen) {
			font-size: 2.5rem;
		}
		@media screen and (max-width:$sm-screen) {
			font-size: 3.33rem;
		}
	}
	.list-inline {
		&:first-of-type {
			margin-top: 3rem;
		}
		li {
			width: 7rem;
			margin: 1rem 2.5rem;
			@media screen and (max-width:$md-screen) {
				width: 100px;
		}
		}
	}
}
.container-contact {

	font-family: $main-font;
	background-color: rgba(204,187,163,0.5);
	color: $dark;
	height: 100vh;
	width: 100vw;
	font-size: 1rem;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: $md-screen) {
		font-size: 1.4rem;
	}
	@media screen and (max-width: $sm-screen) {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 3rem;
		@media screen and (max-width: $sm-screen) {
			font-size: 4.5rem;
		}
	}

	#form {
		width: 80vw;
		max-width: 800px;
		margin: -6rem auto 0;
	}
	.form-control, {
		border: 0;
		border-radius: 2px;
		box-shadow: none;
		background-color: $dark;
		color: $beige;
		//border-color: $beige;
		//box-shadow: inset 0 1px 1px rgba(204,187,163,0.5);
		&:focus {
			//box-shadow: inset 0 4px 8px rgba(204,187,163,0.3);
		}
	}
	.submit-button {
		font-size: 1rem;
		border: 0;
		font-weight: 300;
		color: $beige;
		background-color: $dark;
		@media screen and (max-width: $md-screen) {
			font-size: 1.4rem;
		}
		@media screen and (max-width: $sm-screen) {
			font-size: 2rem;
		}
	}
	.container-social-icons {
	  position: absolute;
	  left: calc(50vw - 67.5px);
	  top: 395vh;

		a span {
			color: $dark;
			margin: 0 4px;
		}
	}
}
